<div class="container">
<h4>{{}}</h4>

<div>

	<div></div>

</div>
<!--add a createPin Btn, deletePin Btn, and deleteBoard Btn -->

<!--add a ng-click to createPin, deletePin, and deleteBoard-->


<!-- when createPin is clicked the createpin.html partial will load. -->
<a ng-href="#!/pins/{{pins.id}}/createpin"><button>Create Pin</button></a>
</div>




<!-- -When:
user hovers over a pin card
	-Then:
-"delete pin" button appears in a corner of the pin card. This will be a onHover style change opacity.
-"Delete Pin" button will capture user UID and BoardID.
-These IDs will be removed from the pin object and the current board will be refreshed. -->