<!-- <div class="container">
<a ng-model="boardID" ng-href="#!/createpin/{{boardID}}"><button>Create Pin</button></a>

<div ng-repeat="item in pinsForBoard | filter: searchText.search">
	 <p>{{item.title}}</p>
	 <img ng-src="{{item.url}}">
	 <button ng-click="deletePin(item.pinID)">Delete Pin</button>
</div>
<button ng-click="deleteBoard()" class="delBoard">Delete Board</button>
</div> -->


<div class="all-cards">
	<div class="flexy">
		<div class="one-card">
			<a ng-model="boardID" ng-href="#!/createpin/{{boardID}}">
				<div class="borderDivPin">
				Create Pin
				</div>
			</a>
		</div>
		<div class="one-card" ng-repeat="item in pinsForBoard | filter: searchText.search">
			 <!-- <a href=""> -->
			 	<img class="image" ng-src="{{item.url}}">
			 	<div class="caption">{{item.title}}</div>
			 	<button class="deletePin" ng-click="deletePin(item.pinID)">Delete Pin</button>
			 <!-- </a> -->
		</div>
		<button class="rounded" ng-click="deleteBoard()">Delete Board</button>
	</div>
</div>




<!-- -When:
user hovers over a pin card
	-Then:
-"delete pin" button appears in a corner of the pin card. This will be a onHover style change opacity.
-"Delete Pin" button will capture user UID and BoardID.
-These IDs will be removed from the pin object and the current board will be refreshed. -->