<div class="container">

<!-- when createPin is clicked the createpin.html partial will load. -->
<a ng-model="boardID" ng-href="#!/createpin/{{boardID}}"><button>Create Pin</button></a>

<div ng-repeat="item in pinsForBoard">
	 <p>{{item.title}}</p>
	 <img ng-src="{{item.url}}">
	 <button ng-click="deletePin(item.pinID)">Delete Pin</button>
</div>

<!--deleteBoard Btn: this will remove the board and $locate -->
<button ng-click="deleteBoard()" class="delBoard">Delete Board</button>

<!--add a ng-click to createPin, deletePin, and deleteBoard-->
</div>




<!-- -When:
user hovers over a pin card
	-Then:
-"delete pin" button appears in a corner of the pin card. This will be a onHover style change opacity.
-"Delete Pin" button will capture user UID and BoardID.
-These IDs will be removed from the pin object and the current board will be refreshed. -->