<!-- <div class="row">
	<h1>Home Page</h1>
	<div ng-repeat="item in pinList">
		<div><a ng-click="getPin(item.pinID)" ng-href="#!/pintoboard/{{item.pinID}}">{{item.url}}</a></div>
		<div>{{item.title}}</div>
	</div>
</div> -->
<div class="all-cards">
<div class="container one-card">
	<div class="row" ng-repeat="item in pinList">
		<div class="col-sm-3 col-md-3">
			<div class="thumbnail one-card">
		    	<a ng-href="#!/pintoboard/{{item.pinID}}">
	              	<img ng-src="{{item.url}}">
	              		<div class="caption"><span class="card-title">{{item.title}}</span></div>
	    		</a>
    		</div>
		</div>
	</div>
</div>
</div>





<!--
<div class="container">
	<div class="row">
	    <div class="col s3">1</div>
	    <div class="col s3">2</div>
	    <div class="col s3">3</div>
	    <div class="col s3">4</div>
    </div>
</div>